@model WebApplication6.Models.Fakülte
@{
    ViewBag.Title = "FakülteEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kategori Ekle</h2>
<form action="" class="form form-group" method="post">
    <label style="margin-top:15px">Fakülte Adı Giriniz</label>
    @Html.TextBoxFor(x => x.FakülteAdi, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
