@model WebApplication6.Models.Fakülte

@{
    ViewBag.Title = "FakülteBilgiGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Fakülte Bilgi Güncelleme</h2>
<br />
@using (Html.BeginForm("FakülteBilgiGuncelle", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FakülteID)
    <label>Fakülte Adı Giriniz</label>
    @Html.TextAreaFor(x => x.FakülteAdi, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>

}
