@using WebApplication6.Models
@model List<FakülteGenelBilgi>
@{
    ViewBag.Title = "EczacılıkGenelBilgi";
    Layout = "~/Views/Shared/_Tema.cshtml";
}

<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Eczacılık Fakültesi</h2>
            <ol>
                <li><a href="/Anasayfa/Index">Anasayfa</a></li>
                <li><a href="/Fakülteler/EczacılıkGenelBilgi">Genel Bilgi</a></li>
                <li><a href="/Fakülteler/EczacılıkPersonel">Personel</a></li>
                <li><a href="/Fakülteler/EczacılıkYonetim">Yönetim</a></li>
                <li><a href="/Fakülteler/EczacılıkFakülte">Fakültemiz</a></li>
                <li><a href="/Fakülteler/EczacılıkÖgrenci">Öğrenci</a></li>
                <li>Eczacılık Fakültesi</li>
            </ol>
        </div>

    </div>
</section>
@foreach (var item in Model)
{

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry entry-single">
                        <div class="entry-content">
                            <p class="ckeditor">
                                @Html.Raw(item.GenelBilgi)
                            </p>
                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->
            </div>

        </div>
    </section>
}
<script src="~/ckeditor/ckeditor.js"></script>