
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Düzce Üniversitesi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/tema1/assets/img/dü.png" rel="icon">
    <link href="~/tema1/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/tema1/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/tema1/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/tema1/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.10.1
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a href="/Anasayfa/Index"><span>Düzce Üniversitesi</span></a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>ÜNİVERSİTEMİZ</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/Üniversitemiz/Duzce">DÜZCE</a></li>
                                <li><a href="/Üniversitemiz/Kurulus">KURULUŞ</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>YÖNETİM</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Üniversitemiz/Rektor">REKTÖR</a></li>
                                        <li><a href="/Üniversitemiz/RektorYardimcilari">REKTÖR YARDIMCILARI</a></li>
                                        <li><a href="/Üniversitemiz/Senato">SENATO</a></li>
                                        <li><a href="/Üniversitemiz/Yonetim">YÖNETİM KURULU</a></li>
                                        <li><a href="/Üniversitemiz/Teskilat">Teşkilat Şeması</a></li>
                                        <li><a href="/Üniversitemiz/GenelSekreter">GENEL SEKRETER</a></li>
                                        <li><a href="/Üniversitemiz/Rektörlerimiz">Rektörlerimiz</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Sayılarla DÜ</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Üniversitemiz/OgrenciSayilari">Öğrenci Sayıları</a></li>
                                        <li><a href="/Üniversitemiz/PersonelSayilari">Personel Sayıları</a></li>
                                        <li><a href="/Üniversitemiz/program">Bölüm Ve Program Sayıları</a></li>
                                        <li><a href="/Üniversitemiz/ProjeSayilari">Proje Sayıları</a></li>
                                        <li><a href="/Üniversitemiz/Mülkiyet">Fikri Mülkiyet</a></li>
                                        <li><a href="/Üniversitemiz/Derslik">Derslik</a></li>
                                        <li><a href="/Üniversitemiz/KapalıAlan">Kapalı Alan</a></li>
                                        <li><a href="/Üniversitemiz/Butce">Bütçe</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Sıralamalar</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Üniversitemiz/URAP">URAP</a></li>
                                        <li><a href="/Üniversitemiz/THE">THE</a></li>
                                        <li><a href="/Üniversitemiz/GirisimcilikEndeks">Girişimcilik Endeksi</a></li>
                                        <li><a href="/Üniversitemiz/GreenMetric">Green Metric</a></li>
                                        <li><a href="/Üniversitemiz/InovaLig">İnnovaLig</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Kurumsal Strateji</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Üniversitemiz/stratejikplan">Stratejik Plan 2020-2024</a></li>
                                        <li><a href="/Üniversitemiz/kalitepolitikasi">Kalite Politikası</a></li>
                                        <li><a href="/Üniversitemiz/iyilestirme">Sürekli İyileştirme</a></li>
                                        <li><a href="/Üniversitemiz/sürdürülebilirlik">Sürdürülebilirlik Raporu</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Üniversitemiz/ilkler">İLKLER</a></li>
                                <li><a href="/Üniversitemiz/İsbirlikleri">İŞBİRLİKLERİ</a></li>
                                <li><a href="/Üniversitemiz/İdariBirimler">İdari Birimler</a></li>
                                <li><a href="/Üniversitemiz/YönetmelikVeYönergeler">Yönetmelik Ve Yönergeler</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Kampüs Yaşamı</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Üniversitemiz/Yemeİcme">Yeme İçme</a></li>
                                        <li><a href="/Üniversitemiz/SporMerkezleri">Spor Merkezi</a></li>
                                        <li><a href="/Üniversitemiz/Ulasim">Ulaşım</a></li>
                                        <li><a href="/Üniversitemiz/Barinma">Barınma</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Üniversitemiz/BilgiGüvenligi">Bilgi Güvenliği Politikamız</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>AKADEMİK</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="dropdown">
                                    <a href="#"><span>FAKÜLTELER</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Fakülteler/AkcakocaSiyasal">Akçakoca Siyasi Bilgiler Fakültesi</a></li>
                                        <li><a href="/Fakülteler/EczacılıkGenelBilgi">Eczacılık Fakültesi</a></li>
                                        <li><a href="/Fakülteler/EgitimFakültesi">Eğitim Fakültesi</a></li>
                                        <li><a href="/Fakülteler/FenGenelBilgi">Fen Edebiyat Fakültesi</a></li>
                                        <li><a href="/Fakülteler/İsletme">İşletme FAKÜLTESİ</a></li>
                                        <li><a href="/Fakülteler/MFGenelBilgi">MÜHENDİSLİK Fakültesi</a></li>
                                        <li><a href="/Fakülteler/OrmanGenelBilgi">ORMAN Fakültesi</a></li>
                                        <li><a href="/Fakülteler/SaglikBilimleri">Sağlık Bilimleri Fakültesi</a></li>
                                        <li><a href="/Fakülteler/SporBilimleri">Spor Bilimleri Fakültesi</a></li>
                                        <li><a href="/Fakülteler/SanatVeTasarım">Sanat ve Tasarım Fakültesi</a></li>
                                        <li><a href="/Fakülteler/TıpGenelBilgi">Tıp Fakültesi</a></li>
                                        <li><a href="/Fakülteler/Ziraat">Ziraat Fakültesi</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Enstitüler</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Fakülteler/LisansÜstüGenelBilgi">Lisanüstü Eğitim Enstitüsü</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Yüksekokullar</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Fakülteler/AkcakocaYOGenelBilgi">Akçakoca Turizm İşletmeciliği ve Otelcilik Yüksekokulu</a></li>
                                        <li><a href="/Fakülteler/HakimeErciyasGenelBilgi">Hakime Erciyas Yabancı Diller Yüksekokulu</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Meslek Yüksekokullar</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="/Fakülteler/CilimliGenelBilgi">Çilimli MYO</a></li>
                                        <li><a href="/Fakülteler/DuzceGenelBilgi">Düzce MYO</a></li>
                                        <li><a href="/Fakülteler/GolyakaGenelBilgi">Gölyaka MYO</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Arastirma/Kurullar">Kurullar</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Bölüm Başkanlıkları</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li>
                                            <a href="/Fakülteler/AtatürkVeTarih">
                                                Atatürk İlkeleri ve İnkılap Tarihi Bölümü
                                            </a>
                                        </li>
                                        <li><a href="/Fakülteler/TürkDili">Türk Dili</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>ARAŞTIRMA</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/Arastirma/ArastirmaMerkezi">Araştırma Merkezleri</a></li>
                                <li><a href="/Arastirma/LaboratuvarEnvanteri">Laboratuvar Envanteri</a></li>
                                <li><a href="/Arastirma/YayinlarProjeler">Yayınlar Projeler</a></li>
                                <li><a href="/Arastirma/HakemliDergiler">Hakemler Dergiler</a></li>
                                <li><a href="/Arastirma/TeknolojiTransferOfisi">Teknoloji Transfer Merkezi</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>İHTİSASLAŞMA</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/İhtisaslasma/ProgramKapsami">Program Kapsamı</a></li>
                                <li><a href="/İhtisaslasma/tibbiBitki">Tıbbi Bitki Yetiştiriciliği</a></li>
                                <li><a href="/İhtisaslasma/ürünVeMarkalar">Ürünler/Markalar</a></li>
                                <li><a href="/İhtisaslasma/üretimMerkezi">Üretim Merkezi</a></li>
                                <li><a href="/İhtisaslasma/gelenekselTip">Geleneksel Ve Tamamlayıcı Tıp Faaliyetleri</a></li>
                                <li><a href="/İhtisaslasma/TarimsalAtiklar">Tarımsal Atıkların Geri Kazanım Faaliyetleri</a></li>
                                <li><a href="/İhtisaslasma/ArıcılıkVeAri">Arıcılık Ve Arı Ürünleri</a></li>
                                <li><a href="/İhtisaslasma/BilimselYayinlar">Bilimsel Yayınlar</a></li>
                                <li><a href="/İhtisaslasma/İsbirlikleri">İşbirlikleri</a></li>
                                <li><a href="/İhtisaslasma/Etkinlikler">Etkinlikler</a></li>
                            </ul>
                        </li>

                        <li><a class="nav-link scrollto" href="/Duyurular/Index">DÜ DUYURULAR</a></li>
                    </ul>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <main id="main">

        @RenderBody()

    </main>
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Hızlı Erişim</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Anasayfa/Index">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Üniversitemiz/Duzce">Düzce</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Üniversitemiz/Kurulus">Kuruluş</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Üniversitemiz/Ulasim">Ulaşım</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>İletişim</h4>
                        <p>
                            Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620<br>
                            Türkiye <br><br>
                            <strong>TEL </strong> : 0850 800 81 81<br>
                            <strong>FAKS </strong> : 0380 542 11 03<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/tema1/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/tema1/assets/vendor/aos/aos.js"></script>
    <script src="~/tema1/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/tema1/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/tema1/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/tema1/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/tema1/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/tema1/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/tema1/assets/js/main.js"></script>

</body>

</html>